/* Layout */
html, body {
    min-height: 100%;
}
body {
    color: #333;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 0%, #f5f5f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eeeeee 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eeeeee 0%,#f5f5f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eeeeee 0%,#f5f5f5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eeeeee 0%,#f5f5f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}
.header {
    position: relative; 
    height: 300px;
    background: #000 url(../img/bg.jpg) center center no-repeat;
    color: #fff;
    text-align: left;
}
.header-low {
    height: 150px;
    background: #000 url(../img/bg-low.jpg) center center no-repeat;
}
.header h1 { display: none; }
.header h2 { vertical-align: bottom; width: 520px; font-size: 50px; position: absolute; bottom: 25px; margin-left: 60px; line-height: 45px; }

.social {
    background: #ddd; /* Old browsers */
    background: -moz-linear-gradient(top, #dddddd 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #dddddd 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #dddddd 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #dddddd 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #dddddd 0%,#ffffff 100%); /* W3C */
}
.social .container { text-align: center; padding-top: 6px; padding-bottom: 1px; }
.social .box { display: inline-block; vertical-align: top; margin-left: 10px; margin-right: 10px; }

.content {
    padding: 20px;
}
.footer { text-align: center; padding-top: 30px; color: #999; }

#alert { display: none; }

/* Cards */
.cards { text-align: center; }
.cards .card {
    background: transparent;
    width: 150px; height: 220px;
    padding: 25px; margin: 10px;
    vertical-align: top;
    display: inline-block;
    font-weight: bold; font-size: 15px;
    line-height: 19px;
    text-align: left;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
.cards .card-black { background-image: url(../img/black.png); color: white; }
.cards .card-white { background-image: url(../img/white.png); color: black; }
.cards .selected { background-image: url(../img/white-selected.png); }
.cards h3 { font-size: 24px; font-weight: bold; padding: 8px; color: #666; }
.cards a:hover { text-decoration: none; outline: 0; }
.cards a.card-black:hover { margin-top: -10px; cursor: pointer; }
.cards a.card-white:hover { background-image: url(../img/white-hover.png); margin-top: -10px; cursor: pointer; }

#selectlanguage-list a {
    display: inline-block;
    width: 218px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #eee;
}
#selectlanguage-list a:hover {
    background: #000;
    color: #fff;
    text-decoration: none;
}

/** Friend and player lists */
#selectfriends-list a,
#game-players div {
    background: #fff;
    display: inline-block;
    vertical-align: top;
    width: 230px;
    margin: 10px;
    border: 1px solid #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}
#selectfriends-list a.selected {
    background: #57a957;
    color: #fff;
}
#selectfriends-list a img,
#game-players div img { margin-right: 10px; }

/** Game players additionally */
#game-players div {
    position: relative; /* for absolute kick button */
    color: #bbb;
    width: 280px;
    box-shadow: 0 0 10px #999;
    border: 2px solid #fff;
    background: #eee;
}
#game-players div.connected {
    background: #fff;
    color: #000;
}
#game-players div.incharge {
    background: #000;
    color: #fff;
    border-color: #000;
}
#game-players div img { opacity: 0.5; }
#game-players div.connected img { opacity: 1.0; }
#game-players a.kick { display: block; position: absolute; right: -15px; top: -15px; width: 36px; height: 36px; background: transparent url(../img/kick.png) center center no-repeat; }
#game-players a.kick:hover { background-image: url(../img/kick-hover.png); }
#game-players span.score { font-weight: bold; color: #bbb; }
#game .buttons {
    padding: 10px;
    text-align: center;
}
#game .buttons input {
    cursor: pointer;
}

/** Chat */
#game-chat {
    position: fixed; bottom: 0; right: 20px;
    width: 300px;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 0 5px #999;
}
#game-chat-messages { padding: 5px; border-bottom: 1px solid #ddd; height: 300px; overflow: auto; }
#game-chat-messages .message { padding: 5px; }
#game-chat-messages .message .name { font-weight: bold; color: #950B02; }
#game-chat-messages .message .self { color: #0e90d2; }
#game-chat-input { padding: 5px; height: 30px; background: #eee; }
#game-chat-input input { width: 275px; }

/** Modal footer */
.modal-footer .text { color: #999; padding-right: 20px; }
